{% extends 'base.html' %}

{% block title %}Upload History{% endblock %}

{% block content %}
<body>

<div class="container">
    <div class="row">
        {% for category, images in category_map.items() %}
        <div class="col-sm-9 col-md-6 col-lg-6 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-header text-center">{{ category }}</div>
                <br>
                <div class="card-body text-center">
                    <ul class="card list-group">
                        {% if images %}
                        {% for row in images %}
                        Uploaded At: {{ row[4] }} (UTC)
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <img src="{{ row[2] if is_remote else url_for('static', filename=row[2]) }}" style="max-height: 80px;">
                            <a href="/detection/{{ row[3] }}">Detail</a>
                        </li>
                        {% endfor %}
                        {% else %}
                        No Image
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>

{% endblock %}