A1/venv/bin
A1/.idea/*
A1/app/__pycache__/*
A1/.DS_Store
A1/app/.DS_Store
/.DS_Store
A1/FaceMaskDetection/__pycache__/*
A1/FaceMaskDetection/load_model/__pycache__/*
A1/FaceMaskDetection/models/__pycache__/*
A1/FaceMaskDetection/utils/__pycache__/*
A1/app/api/__pycache__/*
A1/app/static/images/*
A1/logs/*
A1/gen.py
A2/venv/*