{% extends 'base.html' %}

{% block title %}Detection Result{% endblock %}


{% block content %}
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
            <div class="card card-signin my-5">
                <br>
                <div class="card-body text-center">
                    <form class="md-form" method="post" enctype=multipart/form-data>
                        <div class="file-field">
                            <img src="{{ image_record[0] if is_remote else url_for('static', filename=image_record[0]) }}" height="400"><br>
                            <p>Result: {{category_map[image_record[1]]}}</p>
                            <p>Number of Faces Detected: {{image_record[2]}}</p>
                            <p>Number of Faces Wearing Masks: {{image_record[3]}}</p>
                            <p>Number of Faces Not Wearing Masks: {{image_record[4]}}</p>
                        </div>
                    </form>
                    <button onclick="goBack()" class="btn btn-primary">Go Back</button>
                    <script>
                    function goBack() {
                        window.history.back();
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}