venv/*
.idea/*
app/__pycache__/*
.DS_Store
app/.DS_Store
../.DS_Store
FaceMaskDetection/__pycache__/*
FaceMaskDetection/load_model/__pycache__/*
FaceMaskDetection/models/__pycache__/*
FaceMaskDetection/utils/__pycache__/*
app/api/__pycache__/*
app/static/images/*
