{% extends 'base.html' %}

{% block title %}Password Recovery{% endblock %}

{% block content %}
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <br>
                <h3 class="card-title text-center">Password Recovery</h3>
                <div class="card-body">
                    <form class="form-signin" method="post">
                        <div class="form-label-group">
                            <input type="text" id="username" class="form-control" placeholder="Username" name="username"
                                   required>
                            <br>
                        </div>

                        <div class="form-label-group">
                            <h6><span class="label label-default text-center">Security Question: What is your Date of Birth?</span>
                            </h6>
                            <br>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="security_answer" class="form-control" placeholder="Security Answer"
                                   name="securityanswer" required>
                            <br>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="password" class="form-control" placeholder="New Password"
                                   name="password" required>
                            <br>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Reset</button>
                        <hr class="my-4">
                    </form>
                    <a href="{{url_for('login.login')}}">Log In</a>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}