{% extends 'base.html' %}

{% block title %}Auto-Scaler Policy{% endblock %}

{% block content %}
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <br>
                <h3 class="card-title text-center">Auto-Scaler Policy</h3>
                <div class="card-body">
                    <h6 class="card-title text-center">EXPAND_RATIO: {{policy[0]}}</h6>
                    <h6 class="card-title text-center">SHRINK_RATIO: {{policy[1]}}</h6>
                    <h6 class="card-title text-center">CPU_UTIL_GROW_THRESHOLD: {{policy[2]}}%</h6>
                    <h6 class="card-title text-center">CPU_UTIL_SHRINK_THRESHOLD: {{policy[3]}}%</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <br>
                <h3 class="card-title text-center">Change Auto-Scaler Policy</h3>
                <div class="card-body">
                    <form class="form-signin" method="post" action="{{ url_for('auto_scaler.auto_scaler_policy')}}">
                        <div class="form-label-group">
                            <input type="number" step="0.01" class="form-control" placeholder="Expand Ratio"
                                   name="expand_ratio">
                            <br>
                        </div>
                        <div class="form-label-group">
                            <input type="number" step="0.01" class="form-control" placeholder="Shrink Ratio"
                                   name="shrink_ratio">
                            <br>
                        </div>
                        <div class="form-label-group">
                            <input type="number" class="form-control" placeholder="CPU Utilization Grow Threshold"
                                   name="grow_threshold">
                            <br>
                        </div>
                        <div class="form-label-group">
                            <input type="number" class="form-control" placeholder="CPU Utilization Shrink Threshold"
                                   name="shrink_threshold">
                            <br>
                        </div>
                        <div class="form-label-group text-center">
                            <input class="btn btn-primary text-uppercase" type="submit"
                                   name="changePolicyBtn" value="Change">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}