<!doctype html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<section class="content">
    <header>
        {% block header %}

        {% endblock %}
    </header>

    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} flash text-center" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    {% block content %}

    {% endblock %}

</section>