<!doctype html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<section class="content">
    <header>
        {% block header %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">ECE1779 Manager App</a>
        </nav>
        {% endblock %}
    </header>

    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} flash text-center" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    {% block content %}

    <body>
    <div class="container">
        <div class="row">

            <!--the number of workers chart-->
            <div class="col-sm-9 col-md-9 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <br>
                    <h3 class="card-title text-center">Delete User</h3>
                    <div class="card-body">
                        <form class="form-signin" method="post" action="{{ '/user/delete' }}">
                            <div class="form-label-group">
                                <select name="username" id="delete_user" class="form-control">
                                    {%for value in users%}
                                    <option value={{value}}>{{value}}</option>
                                    {%endfor%}
                                </select>
                                <br>
                            </div>
                            <div class="form-label-group text-center">
                                <input class="btn btn-primary text-uppercase" type="submit" value="Delete">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--the buttons to control workers-->
            <div class="col-sm-9 col-md-9 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <br>
                    <h3 class="card-title text-center">Change Pool Size</h3>
                    <div class="card-header text-center">Current size: {{ num_workers }}</div>
                    <div class="card-body">
                        <form class="form-signin" method="post" action="{{ '/change_workers' }}">
                            <div class="form-label-group text-center">
                                <input class="btn btn-primary text-uppercase" type="submit" value="Up" name="upBtn">
                                <input class="btn btn-primary text-uppercase" type="submit" value="Down"
                                       name="downBtn">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--the list of workers-->
            <div class="col-sm-9 col-md-9 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <br>
                    <h3 class="card-title text-center">Create New Account</h3>
                    <div class="card-body">
                        <form class="form-signin" method="post" action="{{ '/user/create'}}">
                            <div class="form-label-group">
                                <input type="text" id="username" class="form-control" placeholder="Username"
                                       name="username"
                                       required>
                                <br>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="password" class="form-control" placeholder="Password"
                                       name="password"
                                       required>
                                <br>
                            </div>
                            <div class="form-label-group text-center">
                                <input class="btn btn-primary text-uppercase" type="submit" value="Create"></input>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <!--the buttons to control manager app-->
            <div class="col-sm-9 col-md-9 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <br>
                    <h3 class="card-title text-center">Manager Features</h3>
                    <div class="card-header text-center">Stop Manager</div>
                    <div class="card-body">
                        <form class="form-signin" method="post" action="{{ '/terminate_manager' }}">
                            <div class="form-label-group text-center">
                                <input class="btn btn-primary text-uppercase" type="submit" value="Stop">
                            </div>
                        </form>
                    </div>
                    <div class="card-header text-center">Delete Application Data</div>
                    <div class="card-body">
                        <form class="form-signin" method="post" action="{{ '/remove_app_data' }}">
                            <div class="form-label-group text-center">
                                <input class="btn btn-primary text-uppercase" type="submit" value="Delete">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>


    {% endblock %}

</section>