<!doctype html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<section class="content">
    <header>
        {% block header %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">ECE1779 Manager App</a>
        </nav>
        {% endblock %}
    </header>

    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} flash text-center" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    {% block content %}
    <body>
    <div class="container">
        <div class="row">

            <div class="col-sm-9 col-md-9 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <br>
                    <h3 class="card-title text-center">Total CPU utilization</h3>
                     <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
                    <canvas id="chart" width="300" height="200"></canvas>
                        <script>
                          // bar chart data
                          var barData = {
                            labels : [
                              {% for item in mins %}
                                "{{ item }}",
                              {% endfor %}
                            ],

                            datasets : [{
                              fillColor: "rgba(151,187,205,0.2)",
                              strokeColor: "rgba(151,187,205,1)",
                              pointColor: "rgba(151,187,205,1)",
                              pointStrokeColor: "#fff",
                              pointHighlightFill: "#fff",
                              pointHighlightStroke: "rgba(151,187,205,1)",
                              bezierCurve : false,
                              data : [
                            {% for item in cpu %}
                                  {{ item }},
                                {% endfor %}]
                              }
                        ]
                          }

                          Chart.defaults.global.animationSteps = 50;
                          Chart.defaults.global.tooltipYPadding = 16;
                          Chart.defaults.global.tooltipCornerRadius = 0;
                          Chart.defaults.global.tooltipTitleFontStyle = "normal";
                          Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
                          Chart.defaults.global.animationEasing = "easeOutBounce";
                          Chart.defaults.global.responsive = false;
                          Chart.defaults.global.scaleLineColor = "black";
                          Chart.defaults.global.scaleFontSize = 16;

                          // get bar chart canvas
                          var mychart = document.getElementById("chart").getContext("2d");

                          steps = 10
                          max = {{ max1 }}
                          // draw bar chart
                          var LineChartDemo = new Chart(mychart).Line(barData, {
                            scaleOverride: true,
                            scaleSteps: steps,
                            scaleStepWidth: Math.ceil(max / steps),
                            scaleStartValue: 0,
                            scaleShowVerticalLines: true,
                            scaleShowGridLines : true,
                            barShowStroke : true,
                            scaleShowLabels: true,
                            bezierCurve: false,
                          });
                        </script>
                </div>
            </div>
            <div class="col-sm-9 col-md-9 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <br>
                    <h3 class="card-title text-center">Rate of HTTP requests received for the past 30 mins</h3>
                     <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
                    <canvas id="chart2" width="300" height="200"></canvas>
                        <script>
                          // bar chart data
                          var barData = {
                            labels : [
                              {% for item in time %}
                                "{{ item }}",
                              {% endfor %}
                            ],

                            datasets : [{
                              fillColor: "rgba(151,187,205,0.2)",
                              strokeColor: "rgba(151,187,205,1)",
                              pointColor: "rgba(151,187,205,1)",
                              pointStrokeColor: "#fff",
                              pointHighlightFill: "#fff",
                              pointHighlightStroke: "rgba(151,187,205,1)",
                              bezierCurve : false,
                              data : [
                            {% for item in rate %}
                                  {{ item }},
                                {% endfor %}]
                              }
                        ]
                          }

                          Chart.defaults.global.animationSteps = 50;
                          Chart.defaults.global.tooltipYPadding = 16;
                          Chart.defaults.global.tooltipCornerRadius = 0;
                          Chart.defaults.global.tooltipTitleFontStyle = "normal";
                          Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
                          Chart.defaults.global.animationEasing = "easeOutBounce";
                          Chart.defaults.global.responsive = false;
                          Chart.defaults.global.scaleLineColor = "black";
                          Chart.defaults.global.scaleFontSize = 16;

                          // get bar chart canvas
                          var mychart = document.getElementById("chart").getContext("2d");

                          steps = 10
                          max = {{ max2 }}
                          // draw bar chart
                          var LineChartDemo = new Chart(mychart).Line(barData, {
                            scaleOverride: true,
                            scaleSteps: steps,
                            scaleStepWidth: Math.ceil(max / steps),
                            scaleStartValue: 0,
                            scaleShowVerticalLines: true,
                            scaleShowGridLines : true,
                            barShowStroke : true,
                            scaleShowLabels: true,
                            bezierCurve: false,
                          });
                        </script>
                </div>
            </div>
          </div>
    </div>
    </body>

    {% endblock %}
</section>