{% extends 'base.html' %}

{% block title %}Worker Detail{% endblock %}

{% block content %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
<body>
<div class="container">
    <div class="row">

        <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
            <div class="card card-signin my-5">
                <br>
                <h3 class="card-title text-center">Total CPU utilization</h3>

                <canvas id="chart" width="300" height="200"></canvas>
                <script>
                          // bar chart data
                          var barData1 = {
                            labels : [
                              {% for item in time %}
                                "{{ item }}",
                              {% endfor %}
                            ],

                            datasets : [{
                              fillColor: "rgba(151,187,205,0.2)",
                              strokeColor: "rgba(151,187,205,1)",
                              pointColor: "rgba(151,187,205,1)",
                              pointStrokeColor: "#fff",
                              pointHighlightFill: "#fff",
                              pointHighlightStroke: "rgba(151,187,205,1)",
                              bezierCurve : false,
                              data : [
                            {% for item in cpu %}
                                  {{ item }},
                                {% endfor %}]
                              }
                            ]
                          }



                          // get bar chart canvas
                          var mychart1 = document.getElementById("chart").getContext("2d");

                          steps = 10
                          max1 = {{ max1 }}
                          // draw bar chart
                          var LineChartDemo1 = new Chart(mychart1).Line(barData1, {
                            scaleOverride: true,
                            scaleSteps: steps,
                            scaleStepWidth: Math.ceil(max1 / steps),
                            scaleStartValue: 0,
                            scaleShowVerticalLines: true,
                            scaleShowGridLines : true,
                            barShowStroke : true,
                            scaleShowLabels: true,
                            bezierCurve: false,
                          });

                </script>
            </div>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
            <div class="card card-signin my-5">
                <br>
                <h3 class="card-title text-center">Rate of HTTP requests received for the past 30 mins</h3>

                <canvas id="chart2" width="300" height="200"></canvas>
                <script>
                          // bar chart data
                          var barData2 = {
                            labels : [
                              {% for item in time %}
                                "{{ item }}",
                              {% endfor %}
                            ],

                            datasets : [{
                              fillColor: "rgba(151,187,205,0.2)",
                              strokeColor: "rgba(151,187,205,1)",
                              pointColor: "rgba(151,187,205,1)",
                              pointStrokeColor: "#fff",
                              pointHighlightFill: "#fff",
                              pointHighlightStroke: "rgba(151,187,205,1)",
                              bezierCurve : false,
                              data : [
                            {% for item in rate %}
                                  {{ item }},
                                {% endfor %}]
                              }
                        ]
                          }


                          // get bar chart canvas
                          var mychart2 = document.getElementById("chart2").getContext("2d");

                          steps=1
                          max2 = {{ max2 }}
                          // draw bar chart
                          var LineChartDemo2 = new Chart(mychart2).Line(barData2, {
                            scaleOverride: true,
                            scaleSteps: steps,
                            scaleStepWidth: Math.ceil(max2 / steps),
                            scaleStartValue: 0,
                            scaleShowVerticalLines: true,
                            barShowStroke : true,
                            scaleShowLabels: true,
                            bezierCurve: false,
                          });

                </script>
            </div>
        </div>
    </div>
</div>
</body>

{% endblock %}
