{% extends 'base.html' %}

{% block title %}User Profile - {{username}}{% endblock %}

{% block content %}
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <br>
                <h3 class="card-title text-center">Change Password</h3>
                <div class="card-body">
                    <h6 class="card-title text-center">User Name: {{ username }}</h6>
                    <form class="form-signin" method="post" action="{{ '/user/{}'.format(username) }}">
                        <div class="form-label-group">
                            <input type="password" id="oldPassword" class="form-control" placeholder="Old Password" name="old_password"
                                   required>
                            <br>
                        </div>
                        <div class="form-label-group">
                            <input type="password" id="newPassword" class="form-control" placeholder="New Password" name="new_password"
                                   required>
                            <br>
                        </div>
                        <div class="form-label-group">
                            <input type="password" id="newPasswordConfirm" class="form-control" placeholder=" Confirm New Password" name="new_password_confirm"
                                   required>
                            <br>
                        </div>
                        <input class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" name="changePasswordBtn" value="Change">
                        <hr class="my-4">
                    </form>

                </div>
            </div>
        </div>

        <div class="col-sm-9 col-md-9 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <br>
                <h3 class="card-title text-center">Create New Account</h3>
                <div class="card-body">
                    <h6 class="card-title text-center">Security Questions: What is your Date of Birth?</h6>
                    <form class="form-signin" method="post" action="{{ '/user/{}'.format(username) }}">
                        {%if security_answer %}
                        <div class="form-label-group">
                            <input type="password" id="oldsecurityAnswer" class="form-control" placeholder="Old Security Answer" name="old_securityAnswer"
                                   required>
                            <br>
                        </div>
                        {% endif %}
                        <div class="form-label-group">
                            <input type="password" id="newsecurityAnswer" class="form-control" placeholder="New Security Answer" name="new_securityAnswer"
                                   required>
                            <br>
                        </div>
                        <div class="form-label-group">
                            <input type="password" id="newsecurityAnswerConfirm" class="form-control" placeholder="Confirm New Security Answer" name="new_securityAnswer_confirm"
                                   required>
                            <br>
                        </div>
                        <input class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" name="changeSecurityAnswerBtn" value="Change">
                        <hr class="my-4">
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}